@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

body{
    background-color: rgb(228, 222, 214);
}

h1{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    text-align: center;
}

h2{
    font-family: 'Gayathri', sans-serif;
}

h3{
    color: rgb(40, 38, 46);
}

.souligner{
    text-decoration: underline;
}